.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 15%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: white; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden; /* Disable horizontal scroll */
}

.main {
  margin-left: 15vw; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.active_tab {
  background-color: #383c4a;
  height: 50%;
  margin-bottom: -2px;
  color: white;
}

.inactive_tab {
  height: 50%;
  border-style: solid;
  border-color: #383c4a;
  border-radius: 1px;
  margin-bottom: -2px;
  color: #383c4a;
}

.icon {
  padding-top: 2vh;
  height: 20vh;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #ff3126;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid whitesmoke;
  border-color: whitesmoke transparent whitesmoke transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loading_box {
  justify-content: center;
  align-items: center;
}
